<body style="background-color: #EEE">
	<div style="width:100%; text-align: center">
		<div style="box-shadow:0px 0px 10px #333;height:132px;width:132px;background-image: url(<%= @user.avatar_url %>);display:inline-block"></div>
		<div style="width:100"></div>
		<div style="font-size:15px; font-weight: bold; color:rgb(235, 157, 255)"><%= @user.name %> (<%= @user.overall_rating %> 分)</div>
	</div>
</body>
