<xml>
	<ToUserName>
		<![CDATA[<%= params[:xml][:FromUserName] %>]]>
	</ToUserName>
	<FromUserName>
		<![CDATA[<%= params[:xml][:ToUserName] %>]]>
	</FromUserName>
	<CreateTime>
		<%= Time.now.to_i %>
	</CreateTime>
	<MsgType>
		<![CDATA[news]]>
	</MsgType>
	<ArticleCount>
		3
	</ArticleCount>
	<Articles>
			<item>
				<Title><![CDATA[选AB]]></Title>
				<Description>
					<![CDATA[]]>
				</Description>
				<PicUrl>
				</PicUrl>
				<Url>
					<![CDATA[]]>
				</Url>
			</item>
			<item>
				<Title><![CDATA[点击播放A]]></Title>
				<Description>
					<![CDATA[]]>
				</Description>
				<PicUrl>
					<![CDATA[http://124.16.139.178:8080/img/4374895.jpg]]>
				</PicUrl>
				<Url>
					<![CDATA[http://124.16.139.178:8080/sound/ori/2600.mp3]]>
				</Url>
			</item>
			<item>
				<Title><![CDATA[点击播放B]]></Title>
				<Description>
					<![CDATA[]]>
				</Description>
				<PicUrl>
					<![CDATA[http://124.16.139.178:8080/img/545202255.jpg]]>
				</PicUrl>
				<Url>
					<![CDATA[http://124.16.139.178:8080/sound/ori/1020.mp3]]>
				</Url>
			</item>
	</Articles>
	<FuncFlag>
		0
	</FuncFlag>
</xml>
